body{
    background-color:#000832;

}

.ti{
    border: solid #FF0000;
    background-color: #FF0000;
    max-width: 100px;
}
.title{
    background-color: #D0D8FF;
    color:black;
    font-style: oblique;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 100px;
    padding-left: 250px;
    padding-bottom: 30px;
}

.linhas{
 display: grid;
 align-items: center;
 gap: 200px;
 padding-top: 110px;
}
.linha{
    max-width: 340px;
    max-height: 290px;
    margin: auto;
    margin-left: 440px;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
     border-right-width: 16px;
     border-left-width: 16px;
}

.sonho{
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 16px;
    border-right-width: 16px;

}

.area{
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 16px;
    border-right-width: 16px;
}


.assintoticas{
    padding-top: 40px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-column-gap: 50px;
align-content: center;
gap: 40px;
}

.a{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}

.b{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}
.c{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}
.d{
    margin:auto;
    max-width: 250px;
    max-height: 250px;
}
.e{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}
.f{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}
.g{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}
.h{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}
.i{
    margin: auto;
    max-width: 250px;
    max-height: 250px;
}