body{
    color:whitesmoke;
    border-left: solid #000832;
    border-right: solid #000832;
    border-left-width: 170px;
    border-right-width: 170px;
    
}

h1{
font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue';
font-weight: bolder;
color: whitesmoke;
}

.ti{
    border: solid #FF0000;
    background-color: #FF0000;
    width: 110px;
    height: 50px;
}
.title{ 
    background-color: #e3e8ff;
    color:black;
    font-style: oblique;
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 60px;
    padding-left: 90px;
    padding-bottom: 10px;
}

.info{
    margin-left: 800px;
    margin-top: px;
    color: white;
}

inf.{
    color:#000832
}

.

.infoL{
    margin-left: 1430px
}

.linhas{
 margin: auto;
 display: grid;
 justify-content: space-around;
 gap: 200px;
 padding-top: 110px;
}
.linha{
    max-width: 340px;
    max-height: 290px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
     border-right-width: 16px;
     border-left-width: 16px;
}

.sonho{
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 16px;
    border-right-width: 16px;

}

.are{
    max-width: 350px;
    max-height: 300px;
    margin: auto;
    border: solid #D2DAFF;
    border-top-width: 40px;
    border-bottom-width: 40px;
    border-left-width: 16px;
    border-right-width: 16px;
}

.area{
    margin-left: 170px;
    margin-top: 60px;
}

.assintoticas{
    margin-left: 170px;
    margin-top: 70px;
}

.sonhos{
    margin-left: 170px;
    margin-top: 70px;
}

.a{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}

.b{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}
.c{
    margin: auto;
    max-width: 280px;
    max-height: 280px;
}
.d{
    margin:auto;
    max-width: 300px;
    max-height: 300px;
}
.e{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}
.f{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}
.g{
    margin: auto;
    max-width: 350px;
    max-height: 480px;
}
.h{
    margin: auto;
    max-width: 350px;
    max-height: 350px;
}
.i{
    margin: auto;
    max-width: 350px;
    max-height: 350px;
}
.j{
    margin: auto;
    max-width: 300px;
    max-height: 300px;
}